{{#contentFor "title"}}
Dashboard
{{/contentFor}}

<h1 class="page-header"> Home
    <small>Dashboard</small>
</h1>

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Dashboard</li>
</ol>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <i class="fa fa-space-shuttle"></i>&nbsp;<strong>Product</strong>
            </div>
            <div class="panel-body">
                <h1 class="count-product">0</h1>
            </div>
            <div class="panel-footer">
                <a href="/products/" target="_blank" class="btn btn-xs btn-success">
                    <i class="fa fa-search"></i>&nbsp;See More..
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <i class="fa fa-truck"></i>&nbsp;<strong>Supplier</strong>
            </div>
            <div class="panel-body">
                <h1 class="count-supplier">0</h1>
            </div>
            <div class="panel-footer">
                <a href="/suppliers/" target="_blank" class="btn btn-xs btn-success">
                    <i class="fa fa-search"></i>&nbsp;See More..
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <i class="fa fa-users"></i>&nbsp;<strong>Customer</strong>
            </div>
            <div class="panel-body">
                <h1 class="count-customer">0</h1>
            </div>
            <div class="panel-footer">
                <a href="/customers/" target="_blank" class="btn btn-xs btn-success">
                    <i class="fa fa-search"></i>&nbsp;See More..
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <i class="fa fa-car"></i>&nbsp;<strong>Brand</strong>
            </div>
            <div class="panel-body">
                <h1 class="count-brand">0</h1>
            </div>
            <div class="panel-footer">
                <a href="/brands/" target="_blank" class="btn btn-xs btn-success">
                    <i class="fa fa-search"></i>&nbsp;See More..
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <i class="fa fa-cart-plus"></i>&nbsp;<strong>Sale By Product 2020 </strong>
            </div>
            <div class="panel-body">
                <div id="pie-chart1" style="height: 400px;  margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <i class="fa fa-cart-arrow-down"></i>&nbsp;<strong>Purchase By Product 2020 </strong>
            </div>
            <div class="panel-body">
                <div id="pie-chart2" style="height: 400px;  margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <i class="fa fa-line-chart"></i>&nbsp;<strong>Sale vs Purchase 2020 </strong>
            </div>
            <div class="panel-body">
                <div id="bar-chart" style="height: 400px;  margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>

{{#contentFor "scripts"}}
<script src="{{ baseUrl }}/static/plugins/highcharts/highcharts.js?{{getUUID}}"></script>
<script src="{{ baseUrl }}/static/scripts/dashboards.js?{{getUUID}}"></script>
{{/contentFor}}