{{#contentFor "title"}}
    {{title}}
{{/contentFor}}

<div class="text-center">
    <h1 class="error">{{ code }}</h1>
    <p>{{info1}}</p>
    <p>{{info2}}</p>
    <a href="./" class="btn btn-sm btn-success">
        <i class="fa fa-home"></i>&nbsp;Back to home
    </a>
</div>
